rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isSignedIn() {
      return request.auth != null;
    }
    function isOwner(userId) {
      return isSignedIn() && request.auth.uid == userId;
    }

    match /userProfiles/{userId} {
      allow read, write: if isOwner(userId);
    }

    match /income_dna/{userId} {
      allow read, write: if isOwner(userId);
    }

    match /user_plans/{userId} {
      allow read, write: if isOwner(userId);
    }

    match /claims/{claimId} {
      allow get: if isSignedIn() && (resource.data.userId == request.auth.uid);
      // For listing claims, the query must explicitly filter by userId to pass this rule
      allow list: if isSignedIn() && (request.query.limit <= 100) && (request.query.filters.userId == request.auth.uid);
      allow create: if isSignedIn() && request.resource.data.userId == request.auth.uid;
      allow update, delete: if false; 
    }

    match /insurance_plans/{planId} {
      allow read: if true;
      allow write: if false;
    }

    match /disruptionEvents/{eventId} {
      allow read: if isSignedIn();
      allow write: if false;
    }
  }
}